<h1>Listing bakers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Baked at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bakers.each do |baker| %>
      <tr>
        <td><%= baker.name %></td>
        <td><%= link_to 'Show', baker %></td>
        <td><%= link_to 'Edit', edit_baker_path(baker) %></td>
        <td><%= link_to 'Destroy', baker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baker', new_baker_path %>
