<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cake.name %>
</p>

<p>
  <strong>Latest Baker:</strong>
  <%= @cake.cake_days.first.baker %>
</p>

<%= link_to 'Edit', edit_cake_path(@cake) %> |
<%= link_to 'Back', cakes_path %>
