<%= form_for(@whirl) do |f| %>
  <% if @whirl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whirl.errors.count, "error") %> prohibited this whirl from being saved:</h2>

      <ul>
      <% @whirl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :baker_id %><br>
    <%= f.text_field :baker_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
