<h1>Listing whirls</h1>

<table>
  <thead>
    <tr>
      <th>Baker</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whirls.each do |whirl| %>
      <tr>
        <td><%= whirl.baker %></td>
        <td><%= whirl.priority %></td>
        <td><%= link_to 'Show', whirl %></td>
        <td><%= link_to 'Edit', edit_whirl_path(whirl) %></td>
        <td><%= link_to 'Destroy', whirl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whirl', new_whirl_path %>
