<p id="notice"><%= notice %></p>

<p>
  <strong>Baker:</strong>
  <%= @whirl.baker %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @whirl.priority %>
</p>

<%= link_to 'Edit', edit_whirl_path(@whirl) %> |
<%= link_to 'Back', whirls_path %>
